# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
.env
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db